/.RData
/.Rhistory
/1.docx
/3.pdf
/4.pdf
/A Tale of Three Kings Report.docx
/Adobe
/ca.m3u8
/Channels
/contact.csv
/Cover Letter Webstar Ochieng.pdf
/Cover Letter.docx
/Cover Letter.pdf
/CPY_SAVES
/Criterion Games
/Custom Office Templates
/desktop.ini
/Donor List.xlsx
/e-Sword
/Eneza Article Draft.docx
/Eneza Article Edited Draft.docx
/Eszn_cEVEAM_3s1.jfif
/Euro Truck Simulator 2
/FIFA 15
/FIFA 16
/Finance Fridays.docx
/GSP
/GTA San Andreas User Files
/IBM
/JJ
/Key Selection Criteria.pdf
/KONAMI
/Lifestyle Paper.docx
/Logs
/Ministry Update (Webstar Ochieng).docx
/My Games
/My Testimony rev3 (1).docx
/Network Monitor 3
/New folder
/Newsletter.pdf
/OneNote Notebooks
/OUTPUT.pdf
/Output1.spv
/Output2.spv
/Output3.spv
/Power of Personal Prayer.docx
/Python Scripts
/R
/Ragamuffin Gospel.docx
/Referees.docx
/Reg Form.docx
/reportServlet
/reportServlet.pdf
/Revolution of Character.docx
/Rockstar Games
/Sound recordings
/SPSS
/Test 1.docx
/Top Lessons from Audio Messages 2020.docx
/Transponders
/Truefaced report.docx
/turkey.m3u8
/TvSourcesTemplates
/untitled.blend
/untitled.blend1
/venv
/Webstar Ocheing Cover Letter.docx
/Webstar Ochieng  Research Project.pdf
/Webstar Ochieng Cover Letter.pdf
/Webstar Ochieng CV.pdf
/Webstar Ochieng KCSE certificate.pdf
/Webstar Ochieng KEMRI recommendation.pdf
/Webstar tnt Database.mpddb
/WhatsApp Image 2020-06-30 at 2.10.10 PM.jpeg
/WORDsearch
/WORDsearch Backups
/Zoom
/~$Donor List.xlsx
/~$nance Fridays.docx
/~$p Lessons from Audio Messages 2020.docx
/~$Tale of Three Kings Report.docx
/~WRL0003.tmp
/My Music
/My Pictures
/My Videos